# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Netbeans
nbproject/*

# ignora Salidas
salidas/*
salidas334/*
salidas590/*
salidas714/*
salidas950/*
salidas1270/*
salidas900/*
salidas297/*
